:root {
	--text: "Inter",sans-serif;
	--mono: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,monospace;
	--mw: 700px;
	--c0: #ffffff;
	--c1: rgba(0,0,0,0.2);
	--c2: rgba(0,0,0,0.6);
	--c3: #000;
	--c4: rgba(0,0,255,0.96);
        scrollbar-color: var(--c2) var(--c1);
        scrollbar-width: thin;
}
::selection {
	background-color: var(--c4);
	color: #fff;
}
::-webkit-scrollbar {
	width: 8px;
	height: 6px;
	background-color: var(--c1);
}
::-webkit-scrollbar-thumb {
	background: var(--c2);
}

html,body,div,article,aside,section,main,nav,footer,header,form,fieldset,legend,pre,code,a,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,blockquote,figcaption,figure,textarea,table,td,th,tr,input[type="email"],input[type="number"],input[type="password"],input[type="tel"],input[type="text"],input[type="url"],.border-box {
    box-sizing: border-box
}

html {
	scroll-behaviour: smooth;
	transition: 0.5s ease all;
}
body {
	background: var(--c0);
	color: var(--c3);
	font-family: var(--text);
	font-size: 1em;
	word-wrap: break-word;
	line-height: 1.666666;
}

main, nav, footer {
	max-width: var(--mw);
	padding: 1rem;
	margin: 0 auto;
}
footer {
	border-top: 1px solid var(--c1);
}
nav {
	border-bottom: 1px solid var(--c1);
}

ul {
	margin-block-start: 0;
	margin-block-end: 0;
	padding-inline-start: 0;
	padding-inline-end: 0;
	list-style-type: square;
}
li {
	margin: 0rem 1rem;
	line-height: 2.22;
}

strong {
	font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	font-size: 1em;
}
h1::after {
	font-family: var(--mono);
	content: '  \0ac  ';
}

.info, nav, footer, code {
	font-family: var(--mono);
	font-size: 0.75em;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
	border: 0;
	border-top: 1px solid var(--c1);
}

img {
	max-width: 100%;
	border: 1px solid var(--c2);
}

nav aside,
.right {
	float: right;
}

.info, footer, nav {
	color: var(--c2);
	text-transform: uppercase;
}

code {
	padding: 2px;
	text-transform: none;
}
pre code {
	display: block;
	padding: 1rem;
	border: 1px solid var(--c1);
	border-radius: 4px;
        overflow-x: auto;
        overflow-y: hidden;
        scrollbar-width: thin;
	background: transparent;
	color: var(--c3);
	line-height: 1.4;
}

a {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px solid;
}
a code {
	border: none;
	border-color: var(--c1);
}
a:hover, a:focus,
a:hover code, a:focus code {
	color: var(--c4);
	border-color: var(--c4);
}

blockquote {
	padding-left: 1rem;
	margin-left: 2rem;
	border-left: 1px solid var(--c1);
	font-style: italic;
}

.postslist {
	list-style: none;
	list-style-type: none;
}
.postslist li {
	margin-left: 0;
}
.postdate {
	font-family: var(--mono);
	font-size: 14px;
	color: var(--c2);
	float: right;
	margin-right: 1ch;
}

@media only screen and (max-width: 699px) {
	body {
		font-size: 19px;
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--c0: #111111;
		--c1: rgba(255,255,255,0.2);
		--c2: rgba(255,255,255,0.6);
		--c3: #fff;
		--c4: royalblue;
	}
}
