:root {
	--bg-light: #ffffff;
	--txt: #333333;
	--txt2: #666666;
	--txt3: #aaaaaa;

	--transp1: rgba(48,48,48,0.48);
	--transp2: rgba(48,48,48,0.2);

	/* Dark mode ? */
	/*
	--bg-light: #2f2f2f;
	--txt: #eeeeee;
	--txt2: #bbbbbb;
	--txt3: #aaaaaa;

	--transp1: rgba(180,180,180,0.48);
	--transp2: rgba(180,180,180,0.2);
	*/

	--accent: #3584E4;
	--accent2: rgba(53,132,228,0.48);
}

::selection {
	color: #000000;
	background: #ffe000;
}

body, html {
	margin: 0;
	padding: 0;
}
body {
	padding: 1.5rem;

	background: var(--bg-light);
	color: var(--txt);

	/* yes, i 'stole' this list of fonts from github */
	font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;

	line-height: 1.8;
}

/* headings */
h1, h2, h3, h4, h5, h6 {
	color: var(--txt);
	font-weight: normal;
}
h1 {
	color: var(--txt);
	font-weight: 700;
}

/* links */
a {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px solid;
	border-color: var(--transp1);
	transition: color 0.1s linear, border-color 0.2s linear;
}
a:focus,
a:hover {
	color: var(--accent);
	border-bottom: 1px solid;
	border-color: var(--accent2);
}

/* list */
ul {
	padding-left: 1rem;
}

li {
	padding: 0 0 0.1rem 0.5rem;
}

/* images */
main img {
	max-width: 100%;
	margin: 2.5rem 0 2.5rem 0;
	border-radius: 4px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* inline svg icons */
.svg-inline {
	position: relative;
	top: 0.125rem;
	height: 1rem;
	width: 1rem;
	margin: 0;

	border-radius: 0px;
	box-shadow: none;
}

/* nav style */
nav {
	max-width: 720px;
	margin: 0 auto;
}
nav p,
nav a {
	color: var(--txt);
}
nav a:first-child {
	font-weight: 700;
	border-bottom: none;
}

/* main style */
main {
	max-width: 720px;
	margin: 0 auto;
}

/* blockquote */
blockquote {
	margin-left: 0;
	padding-left: 40px;

	color: var(--txt2);

	border-left: 4px solid;
	border-color: var(--txt3);
}


/* inline code */
p code {
	font-size: 13px;
	background: #f5f5f5;
	color: #333333;
	padding: 3px;
	border: 1px solid;
	border-color: var(--transp2);
	border-radius: 2px;
}

/* pre/code blocks */
pre {
	line-height: 1.1;
}
pre code {
	display: block;
	padding: 1rem;
	margin: 2.5rem 0 2.5rem 0;

	background: #000000;
	color: #ffffff;

	border-radius: 4px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

	overflow-x: auto;
	overflow-y: hidden;
}

/* post list */
.postslist {
	padding: 0;
	list-style: none;
}
.postslist li {
	padding: 0 0 0.25rem 0;
}

/* info/footer */
.info {
	color: var(--txt3);
}
.info a {
	color: var(--txt3);
	border-color: var(--txt3);
}

.info a:hover,
.info a:focus, 
.postslist li a:hover,
.postslist li a:focus {
	color: var(--accent);;
	border-bottom: 1px solid;
	border-color: var(--accent2);
}
