:root {
	--a: #eceee4;
	--b: #d6d6cf;
	--c: #262626;
	--d: #000;
	--s: 1rem;
	--t: var(--s);
	--f: "Georgia", "Times New Roman", "Times", "Palatino", "Palatino Linotype", "Book Antiqua", serif;
	--e: "CommitMonoVariable",Menlo,Consolas,Monaco,"Liberation Mono","Lucida Console",monospace;
	font-feature-settings: 'calt' 1, 'ss01' 1;
	--bw: 1px;
}
::selection { color: #111; background: #bcbeb4 }

html {
	height: 100%;
	scroll-behavior: smooth;
	box-sizing: border-box;
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
	line-height: 1.6;
	font-size: 18px;
}
*, *::before, *::after {
	box-sizing: inherit;
}
body {
	word-break: break-word;
	max-width: 580px;
	min-height: 100vh;
	margin: var(--t) auto; padding: 0 var(--s) var(--s);
	font-family: var(--f);
	background: var(--a);
	color: var(--c);
}

/*text styles*/
main p { text-align: justify }
h1,h2,h3,h4,h5,h6 {
	font-weight: 500;
	text-wrap: balance;
	line-height: 1.125;
	color: var(--d);
	margin-block-end: 1em;
	margin-bottom: 1em;
}
h1 { font-size: 2rem; border-bottom: var(--bw) solid var(--b); padding: 0 0 var(--t) 0 }
h2 { font-weight: 600 }
b, strong { font-weight: 500 }
ul, ol {
	padding-inline-start: var(--t);
	margin: 0 0 0 calc(var(--s)/2);
}
ul > li, ol > li {
	padding-inline-start: calc(var(--t)/4)
}
ol > li::marker, ul > li::marker {
	color: var(--d);
}

blockquote {
	display: block;
	font-family: inherit;
	font-style: italic;
	font-weight: normal;
	padding: calc(var(--t)/4) var(--t);
	margin: 0;
	border-right: none;
	border-left: var(--bw) solid var(--b);
	border-inline-start: var(--bw) solid var(--b);
	border-inline-end: none;
}
blockquote p {
	margin: var(--t) 0;
	color: var(--c);
}
blockquote footer {
	margin-top: calc(1rem * 0.5);
	color: var(--d);
}

/*header + footer + nav*/
body header, body footer { padding: var(--t) 0 }
body header nav p,
body footer p {
	display: flex;
	column-gap: calc(var(--t) * 0.75);
	text-transform: lowercase;
}
body header nav p a,
body footer p a {
	font-weight: 500;
	color: var(--c);
	text-decoration: none;
}
body header nav p a:hover {
	color: var(--d);
}

/*code styles*/
code {
	font-family: var(--e);
	font-size: calc(1em - 2px);
	font-weight: normal;
	padding: 2px 4px;
	font-feature-settings: 'ss03' 1, 'ss04' 1, 'ss05' 1;
}
pre code {
	background: transparent;
	display: block;
	padding: var(--t);
	line-height: 1.3;
	overflow-x: auto;
	overflow-y: hidden;
	border: none;
	border-radius: 0px;
	border: var(--bw) solid var(--b);
	border-style: dashed dashed solid solid;
}

/*misc*/
img,picture,video { max-width: 100%; margin: var(--t) 0; display: block; border-radius: 8px }
hr { box-sizing: content-box; height: 0; border: 0; border-top: var(--bw) solid var(--b) }

/*link styles*/
a {
	color: var(--d);
	font-style: italic;
	text-decoration: underline;
	text-decoration-color: var(--b);
	text-decoration-thickness: 1px;
	text-underline-offset: 0.2em;
	text-decoration-style: solid;
}
a:hover, a:active, a:focus {
	color: var(--d);
	text-decoration-color: var(--c);
}
a[href]:not(:where(
  [href^="#"],
  [href^="/"]:not([href^="//"]),
  [href^="./"]:not([href^=".//"]),
  [href*="//zakaria.org"]
))::after {
	/*content: '  \2197';*/
	content: '  \25CB';
	font-size: 0.5em;
	display: inline-block;
	position: relative;
	bottom: 1.5ch;
	right: 0px;
}
a[href]:not(:where(
  [href^="#"],
  /* exclude relative but not double slash only links */
  [href^="/"]:not([href^="//"]),
  [href^="./"]:not([href^=".//"]),
  [href*="//zakaria.org"]
)):hover::after { 	content: '  \25CF' }

/*tables*/
table { border-collapse: collapse;  table-layout: fixed }
td, th { padding: 0.3rem 1ch; vertical-align: top }
td { overflow-wrap: break-word }
th { border-bottom: var(--bw) solid var(--b); color: var(--d); font-weight: 500; text-align: inherit }

/*index table*/
td.postdate { padding-left: 0; white-space: nowrap; width: 10ch; font-family: var(--e); font-feature-settings: 'ss03' 1, 'ss04' 1, 'ss05' 1 }
td.postlink { white-space: normal }
.box {
	display: block;
	background: transparent;
	padding: 1em 2em;
	margin-block-end: 1em;
	margin-block-start: 1em;
	border: var(--bw) solid var(--b);
	border-style: dashed dashed solid solid;
	border-radius: 0px;
}
