:root {
--text: "Inter",sans-serif;
--mono: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,monospace;
--mw: 42rem;
--c0: #ffffff;
--c1: #bbbbbb;
--c2: #999999;
--c3: #1b1b1b;
--c4: #000000;
scrollbar-color: var(--c1) var(--c0);
scrollbar-width: thin;
}
@media (prefers-color-scheme: dark) {
:root {
--c0: #101112;
--c1: #505556;
--c2: #90999a;
--c3: #e0e1e2;
--c4: #ffffff;
}
}
::selection {
	background-color: var(--c4);
	color: var(--c0);
}
::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
	background: var(--c1);
	border-radius: 4px;
}

html,body,div,article,aside,section,main,nav,footer,header,form,fieldset,legend,pre,code,a,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,blockquote,figcaption,figure,textarea,table,td,th,tr,input[type="email"],input[type="number"],input[type="password"],input[type="tel"],input[type="text"],input[type="url"],.border-box {
    box-sizing: border-box
}

html {
	scroll-behaviour: smooth;
	transition: 0.5s ease all;
}
body {
	max-width: var(--mw);
	padding: 0 2rem;
	margin: 0 auto;
	background: var(--c0);
	color: var(--c3);
	font-family: var(--text);
	font-size: 16px;
	word-wrap: break-word;
	line-height: 1.666666;
}

h1, strong, b {
	font-weight: 600;
}

ul {
	margin-block-start: 0;
	margin-block-end: 0;
	padding-inline-start: 0;
	padding-inline-end: 0;
	list-style-type: disc;
}
li {
	margin: 0rem 1rem;
	line-height: 1.8;
}

blockquote {
	padding-left: 1rem;
	margin-left: 2rem;
	font-style:italic;
	border-left: 1px solid var(--c1);
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
	border: 0;
	border-top: 1px solid var(--c1);
}

h1 {
	margin-bottom: 2rem;
}
h2,h3,h4,h5,h6 {
	font-weight: 500;
}

a {
	color: var(--c4);
	text-decoration: none;
	border-bottom: 1px solid var(--c1);
}
a[href*="//"]:not([href*="zakaria.org"])::after {
	content: '\2197';
}
a:hover,
a:focus {
	border-bottom: 1px solid var(--c2);
}

img {
	max-width: 100%;
}

header, footer {
	margin: 4rem 0;
	padding: 0;
	font-weight: 600;
	color: var(--c1);
	text-transform: lowercase;
}

nav a, footer a {
	border-bottom: 0;
	color: var(--c1);
}
nav a:hover,
footer a:hover  {
	border-bottom: 0;
	color: var(--c2);
}
nav a::after, footer a::after {
	content '';
}

.right, aside {
	float: right;
}

code {
	padding: 2px;
	font-family: var(--mono);
	font-size: 0.75em;
	color: var(--c3);
}

pre code {
	display: block;
	padding: 1rem;
	border: 1px solid var(--c1);
	border-radius: 4px;
        overflow-x: auto;
        overflow-y: hidden;
        scrollbar-width: thin;
	background: transparent;
	line-height: 1.4;
}

.postdate {
	font-family: var(--mono);
	font-size: 0.75rem;
	color: var(--c2);
}

.postdate::after {
	content: ' / ';
}

.info {
	margin-top: 0;
	font-family: var(--mono);
	font-size: 0.75rem;
	color: var(--c1);
}


@media only screen and (max-width: 699px) {
}

