::selection { background: #00000088; color: #ff2025 }
pre{
font-family: ui-monospace,SFMono-Regular,SF Mono,Consolas,Liberation Mono,Menlo,monospace;
font-size: 1rem;
line-height: 1.25;
max-width: 40ch;
margin: auto auto;
}
a:visited, a { color: blue; text-decoration: none; border-bottom: 1px solid blue }
a:hover, a:focus { text-decoration: none; background: blue; color: white; }
@media (prefers-color-scheme: dark){
body { background: #101010; color: #e0e0e0 }
a:visited, a { color: #cbdfdb; border-color: #cbdfdb }
a:hover, a:focus { color: #181818;  background: #cbdfdb }
}
