::selection { background: #00000088; color: #ff2025 }
pre{
font-family: ui-monospace,SFMono-Regular,SF Mono,Consolas,Liberation Mono,Menlo,monospace;
font-size: 1rem;
line-height: 1.25;
max-width: 40ch;
margin: auto auto;
}
a:visited, a { color: blue; text-decoration: none; border-bottom: 1px dashed #1b1b1b30 }
a:hover, a:focus { text-decoration: none; border-color: blue }
@media (prefers-color-scheme: dark){
body { background: #181818; color: #e0e0e0 }
a:visited, a { color: #cbdfdb; border-color: #efefef80 }
a:hover, a:focus { color: #cbdfdb;  border-color: #cbdfdb }
}
