:root { --fz: 16px }
html { height: 100%; font-size: var(--fz); scroll-behavior: smooth; font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace }
body { line-height: calc(var(--fz) * 1.618); max-width: 80ch; margin: 1rem auto; color: #333; padding: 0 2rem 2rem 2rem; background: #fff; word-break: break-word }
img,video { max-width: 100%; margin: 0.5em 0; border-radius: 8px } 
h1,h2,h3,h4,h5,h6 { line-height: 1.25; font-weight: normal; color: #111 }
h1,h2 { border-bottom: 1px solid #ddd; padding-bottom: 0.1em }
nav { padding: 0.67em 0 calc(0.67em * 2) 0 }
img, a img { transition: all 0.5s ease }
img:hover { scale: 1.1; border-radius: 0px }
a { color: #111; text-decoration-color: #aaa }
a:visited { color: #444 }
a:hover { color: #111; text-decoration-color: #111; }
a:focus { color: #111 }
nav a { margin-right: 2ch; color: #111 }
nav a:visited { color: #111 }
hr { box-sizing: content-box; height: 0; border: 0; border-top: 1px solid #ddd }
ul,ol { margin-block-start: 0.25em; margin-block-end: 1em; padding-inline-start: 2.5em }
ul li::marker { content: '- ' }
ul { padding-inline-start: 1.5em }
code { background: transparent; color: #111; padding: 2px 1ch; border-radius: 6px; font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace; font-size: 14px; border: 1px solid #ddd }
pre code { background: transparent; display: block; line-height: 1.25; padding: 1.5em; overflow-x: auto; overflow-y: hidden; border: 1px solid #ddd }
blockquote { margin-inline-start: 20px; padding-left: 20px; border-left: 2px solid #ddd; font-style: italic }
table { border-collapse: collapse; max-width: 100% }
table tr td,table tr th { padding: 0.3em 1ch }
table tr td { vertical-align: top }
table tr th { border-bottom: 1px solid #ddd; color: #111; font-weight: normal; text-align: inherit }
/*table tr td:first-child { white-space: nowrap }*/
.postlink { line-height: 1.25; white-space: pre-line }
.postdate { white-space: nowrap; vertical-align: baseline }
.right { float: right }
.qrbox { display: flex; width: 100%; flex-wrap: wrap }
.qrbox .qr { flex-grow: 1; margin-bottom: 1em }
.qr svg rect { fill: #ffffff }
.qr svg path { stroke: #000000 }
@media(prefers-color-scheme:dark) {
body { background-color: #101010; color: #a0aaaf }
nav a, nav a:visited { color: #d0dadf; }
nav a:focus { color: #101010 }
a { color: #d0dadf }
a:visited { color: #808a8f }
a:hover { background-color: #202325a0; color: #d0dadf }
a:focus { background-color: #d0dadf; color: #101010 }
hr,table tr th,blockquote { border-color: #808a8f50 }
code, pre code { background-color: transparent; color: #a0aaaf; border: 1px solid #808a8f50 }
h1,h2,h3,h4,h5,h6,table tr th { color: #d0dadf }
h1,h2 { border-color: #808a8f50 }
::selection { color: #101010; background-color: #a0aaaf } 
.qr svg rect { fill: #101010 }
.qr svg path { stroke: #d0dadf !important }
}
