{{define "onionurl"}}http://64wv2uqwjacqer7z5d6ooqgrvjwlioizmo7hgmxm7zxerbvgnoqhafid.onion/posts/{{end}}
{{define "title"}}{{.Title}}{{end}}
{{define "body"}}
<h1>{{ template "title" . }}</h1>
<p>Writings... Subscribe to the <a href="/rss.xml">rss feed.</a></p>
<table width="100%">
{{range .List }}
<tr>
<td class="postdate">{{.Metadata.Date}}</td>
<td class="postlink"><a href="/{{.RelativeURL}}">{{.Metadata.Title}}</a></td>
</tr>
{{end}}
</table>
{{end}}
{{define "date"}}{{end}}
{{define "footer"}}<p><a href="https://creativecommons.org/licenses/by-sa/4.0/">&copy; CC BY-SA 4.0</a> <a href="{{template "onionurl" .}}">onion</a></p>{{end}}
